// colors
$main-color: #4A90E2;

// Text colors
$text-color1: #0f1d2d;
$text-color2: #19304b;
$text-color3: #254871;
$text-color4: #331613;
$text-color5: #552520;
$text-color6: #803831;

//Grey Shades
$grey-color1: #2B2B2B;
$grey-color2: #333333;
$grey-color3: #555555;
$grey-color4: #777777;
$grey-color5: #999999;
$grey-color6: #bbbbbb;
$grey-color7: #d6d6d6;