@import "/src/styles/abstract/variables.scss";

.breadcrumbs {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &--category {
    display: flex;
    gap: 6px;
    align-items: center;

    &__caret {
      height: 24px;
      width: 24px;

      & img {
        height: 100%;
        width: 100%;
      }
    }

    &__name {
      display: flex;
      position: relative;
      align-items: center;
      gap: 6px;

      & span {
        font-weight: 14px;
        line-height: 19.07px;
        font-weight: 400;
        color: $grey-color3;
      }
    }
  }
}

.divider {
  width: 18px;
  height: 1px;
  rotate: 90deg;
  background: $grey-color7;
}

.pagination {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &--previous,
  &--next {
    cursor: pointer;
    padding: 5px 8px;

    & span {
      color: #333333;
      font-weight: 600;
      font-size: 14px;
      line-height: 19.07px;
    }
  }

  &--next {
    & span {
      color: #aa4a41;
    }
  }

  &--count {
    display: flex;
    gap: 8px;

    & span {
      font-size: 14px;
      line-height: 19.07px;
      font-weight: 400;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;

      &.active {
        border: 1px solid #aa4a41;
        background: #f5f5f5;
        color: #aa4a41;
      }
    }
  }
}

.product {
  position: relative;

  &--page__error {
    max-width: 670px;
    width: 100%;
    margin: 80px auto;
    text-align: center;

    & h4 {
      color: #19304b;
      font-size: 32px;
      font-weight: 700;
      line-height: 43.58px;
      font-family: "Open Sans", sans-serif;
    }

    & p {
      color: #254871;
      font-size: 16px;
      line-height: 21.79px;
      font-family: "Open Sans", sans-serif;
      margin-top: 10px;
    }
  }

  &--list {
    &__header {
      font-size: 20px;
    }
  }

  &--listing {
    // display: flex;
    // gap: 20px;
    // flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 578px) {
      grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--details {
    margin-bottom: 100px;
  }

  &--overview {
    display: flex;
    gap: 64px;

    &__image {
      max-width: 787px;
      width: 100%;

      & img {
        width: 100%;
        height: 553px;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    &__content {
      & h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 27.24px;
        color: #0f1d2d;
      }
    }

    &__pricing {
      margin-top: 15px;
      position: relative;
    }
    &__price {
      display: flex;
      align-items: center;
      gap: 6px;
      & p {
        color: #ff6f61;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-style: normal;
      }

      & span {
        font-size: 16px;
        line-height: 21.79px;
        color: #333333;
        text-decoration: line-through;
      }
    }

    &__discount {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 10px;

      & p {
        color: #777777;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &--color {
    margin-top: 25px;
    margin-bottom: 30px;

    & h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }

    &__content {
      margin-top: 15px;
    }

    &__variations {
      display: flex;
      gap: 10px;
    }

    &__but {
      display: flex;
      gap: 10px;
    }

    &__main--btn {
      width: 100%;
    }

    &__button {
      height: 59px;
      flex: 0 0 100%;
    }

    &__wish-button {
      height: 59px;
      width: 59px;
      border-radius: 5px;
      border: 1.5px solid #d4d4d8;
      padding: 16px;
      cursor: pointer;
      background: #fafafb;

      & img {
        height: 25px;
        width: 25px;
      }
    }
  }

  &--card {
    position: relative;
    &:nth-child(2),
    &:nth-child(6) {
      grid-row: span 2;
    }

    &:nth-child(2) {
      & .product--card__article {
        @media (max-width: 767px) {
          & .product--card__image img {
            height: 355px;
          }
        }

        @media (max-width: 991px) {
          & .product--card__image img {
            height: 480px;
          }
        }

        @media (min-width: 1100px) {
          & .product--card__image img {
            height: 612px;
          }
        }

        @media (min-width: 1400px) {
          & .product--card__image img {
            height: 612px;
          }
        }
      }
    }

    &:nth-child(6) {
      & .product--card__article {
        @media (max-width: 767px) {
          & .product--card__image img {
            height: 400px;
          }
        }

        @media (max-width: 991px) {
          & .product--card__image img {
            height: 528px;
          }
        }

        @media (min-width: 1100px) {
          & .product--card__image img {
            height: 612px;
          }
        }

        @media (min-width: 1400px) {
          & .product--card__image img {
            height: 612px;
          }
        }
      }
    }

    &__article {
      width: 100%;
    }

    &__image {
      width: 100%;
      position: relative;

      & img {
        width: 100%;
        height: 257px;
        cursor: pointer;
        border-radius: 16px;
        object-fit: cover;

        @media (max-width: 767px) {
          height: 128px;
        }

        @media (max-width: 991px) {
          height: 200px;
        }
      }
    }

    &__wishlist {
      position: absolute;
      top: 12px;
      right: 10px;
      padding: 8px;
      height: 40px;
      width: 40px;
      z-index: 1;
      background: transparent;
      border: none;
      cursor: pointer;
      will-change: border;

      & .wishlist--icon {
        height: 20px;
        width: 20px;

        &:hover {
          & .heart-around {
            stroke: none;
            fill: #4a90e2;
          }

          & .heart-inside {
            stroke: #ffffff;
          }
        }
      }
    }

    &__content {
      margin-top: 10px;

      & h5 {
        color: #0f1d2d;
        font-size: 13px;
        font-weight: 600;
        line-height: 19.07px;
        font-family: "Open Sans", sans-serif;
      }

      & p {
        display: flex;
        column-gap: 4px;
        align-items: center;
        font-family: "Open Sans", sans-serif;

        & span {
          font-size: 12px;
          font-weight: 400;
          line-height: 16.34px;
          color: #333333;

          &:not(:first-child) {
            padding-left: 5px;
            border-left: 1px solid #cfcae6;
          }
        }
      }

      & h4 {
        margin-top: 10px;
        font-size: 16px;
        color: #19304b;
        line-height: 21.79px;
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  &--cart {
    flex: 0 0 710px;
    border-radius: 16px;
    padding: 35px 30px;
    box-shadow: 0 4px 8px 0 rgba(196, 196, 196, 0.25);

    @media (max-width: 991px) {
      flex: 1;
      padding: 8px;
    }

    @media (max-width: 1199px) {
      flex: 0 0 60%;
    }

    &__container {
      display: flex;
      margin-top: 20px;
      gap: 44px;
      margin-bottom: 120px;

      @media (max-width: 991px) {
        flex-direction: column;
        gap: 0;
        padding: 10px 10px 20px 10px;
      }
    }

    &__heading {
      display: flex;
      gap: 21px;
      align-items: flex-start;
      margin-bottom: 16px;

      &-image {
        width: 126px;
        height: 115px;
        border-radius: 16px;

        @media (max-width: 991px) {
          width: 216px;
        }

        & img {
          width: 100%;
          object-fit: cover;
          height: 100%;
          border-radius: 16px;
        }
      }
    }

    &__itemCat {
      font-size: 12px;
      font-weight: 600;
      line-height: 16.34px;
      color: $grey-color4;
      margin-bottom: 4px;
    }

    &__itemName {
      font-size: 16px;
      max-width: 288px;
      word-wrap: break-word;
      font-weight: 600;
      line-height: 21.79px;
      color: $grey-color2;
    }

    &__itemPrice {
      font-size: 20px;
      font-weight: 600;
      line-height: 27.24px;
      margin-top: 4px;
      color: #19304b;
    }

    &__summary {
      flex: 1;
      border-radius: 16px;
      padding: 56px 47px;
      box-shadow: 0 4px 8px 0 rgba(196, 196, 196, 0.25);

      @media (max-width: 991px) {
        padding: 20px 8px;
        margin-top: 30px;
      }
    }

    &__options {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__variaties {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &__quantity,
    &__color {
      display: flex;
      border-radius: 16px;
      border: 1px solid $text-color1;
      padding: 18px 16px;
      height: 64px;
      width: 100px;
      justify-content: space-between;
      align-items: center;

      & span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $text-color1;
      }

      & img {
        height: 24px;
        width: 24px;
      }
    }

    &__color {
      &-preview {
        height: 20px;
        width: 20px;

        & img {
          height: 100%;
          width: 100%;
        }
      }
    }

    &__delete {
      cursor: pointer;
    }

    &__selects {
      height: 64px;
      width: 100px;
      position: relative;
    }

    &__select {
      display: flex;
      border-radius: 16px;
      border: 1px solid #0f1d2d;
      padding: 18px 16px;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #0f1d2d;
      font-family: "Open Sans", sans-serif;

      appearance: none;
      -webkit-appearance: none;
      margin: 0;

      background-repeat: no-repeat;
      background-image: url('../assets/icons/right-caret-input-icon.svg');
      background-position: right 0.7rem top 50%;
      background-size: 24px auto;
    }
  }

  &--carts {
    margin-bottom: 30px;

    &:not(:first-child) {
      border-top: 1px solid #f0f0f0;
      padding-top: 35px;
    }
  }

  &--summary {
    &__fee {
      margin-top: 20px;

      & p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.07px;
      color: $text-color2;
    }

    &__amount {
      font-size: 15px;
      font-weight: 600;
      line-height: 21.79px;
      color: $grey-color2;

      @media (max-width: 991px) {
        font-size: 20px;
      }
    }

    &__promo {
      & label {
        font-weight: 400;
        font-size: 14px;
        line-height: 19.07px;
        color: $grey-color3;
      }

      &-input {
        display: flex;
        padding: 20px 16px;
        border-radius: 16px;
        border: 1px solid #4a90e2;
        height: 64px;
        margin-top: 10px;

        & input {
          width: 100%;
          border: none;
          font-size: 16px;
          line-height: 21.79px;
          font-weight: 400;
          color: $grey-color4;
          font-family: "Open Sans", sans-serif;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }

    &__total {
      margin-top: 20px;

      & p {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__button {
      margin-top: 40px;

      & button {
        text-align: center;
        background: $main-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        border-radius: 8px;
        padding: 14px 29px;
        border: none;
        cursor: pointer;
        width: 100%;
        color: #fdfefb;
      }
    }
  }

  &--checkout {
    position: relative;
    display: flex;
    gap: 24px;
    margin-bottom: 80px;

    @media (max-width: 991px) {
      flex-direction: column;
      padding: 5px;
    }

    &__contact {
      flex: 0 0 606px;
    }

    &__order {
      box-shadow: 0 4px 8px 0 rgba(196, 196, 196, 0.25);
      padding: 8px 30px 30px 30px;
      border-radius: 16px;
      min-height: 480px;
      height: 100%;
      flex: 1;

      @media (max-width: 991px) {
        padding: 8px;
      }

      & h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 27.24px;
        color: $grey-color2;
      }

      &-details {
        margin-top: 30px;

        & .product--cart__heading {
          &:not(:first-child) {
            border-top: 1px solid #f0f0f0;
            padding-top: 30px;
          }
        }
      }

      &-summary {
        & h5 {
          color: $text-color2;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

    & h5 {
      font-size: 16px;
      line-height: 21.79px;
      font-weight: 600;
      color: $text-color1;
      margin-bottom: 15px;
    }

    &__shipment {
      margin-top: 30px;

      & h5 {
        font-size: 16px;
        line-height: 21.79px;
        font-weight: 600;
        color: $text-color1;
        margin-bottom: 15px;
      }
    }
  }

  &--payment {
    &__options {
      display: flex;
      gap: 16px;
      border: none;
      border-radius: 8px;
      padding: 8px 12px 12px 12px;
      transition: 120ms border ease-in-out;
      will-change: border;
      margin-bottom: 15px;

      &.active {
        border: 1.5px solid #e8fde8;
      }

      & label {
        display: flex;
        flex: 1;
        width: 100%;
        gap: 16px;
      }

      & p {
        font-size: 14px;
        color: $grey-color3;
        line-height: 19.07px;
        margin-bottom: 3px;
      }

      & span {
        font-size: 14px;
        line-height: 19.07px;
        color: #777777;
      }
    }
  }

  &--rating {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;

    & span {
      color: #52525b;
      line-height: 19.07px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &--extras {
    position: relative;
    margin-top: 18px;

    &__content {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 15px;

      & p {
        color: #828282;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        font-family: "Open Sans", sans-serif;
      }

      & img {
        height: 16px;
        width: 16px;
      }
    }
  }

  &--review {
    position: relative;
    display: flex;
    gap: 30px;

    @media (min-width: 1400px) {
      margin-top: 40px;
      column-gap: 65px;
    }

    &__container {
      width: 100%;
      flex: 0 0 741px;
      padding-right: 41px;
    }

    &__header {
      display: flex;
      gap: 58px;
      align-items: center;
      border-bottom: 4px solid #f0f0f0;
      padding-bottom: 20px;

      & h5 {
        font-size: 14px;
        color: #777777;
        font-weight: 700;
        line-height: 19.07px;
        position: relative;

        & span {
          background: #f0f0f0;
          padding: 4px 10px;
          border-radius: 24px;
          color: #dc1f21;
          font-size: 11px;
          line-height: 18px;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-weight: 700;
          letter-spacing: 1px;
          margin-left: 8px;
        }

        &.active {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background: $main-color;
            bottom: -24px;
            border-radius: 4px;
          }
        }
      }
    }

    &__body {
      margin-top: 40px;
      position: relative;
    }

    &__card {
      display: flex;
      gap: 23px;
      margin-bottom: 30px;
      padding-bottom: 20px;

      &:not(:last-child) {
        border-bottom: 1px solid #d6d6d6;
      }

      &-avatar {
        height: 43px;
        width: 43px;
        border-radius: 50%;

        & img {
          width: 100%;
        }
      }
    }

    &__content {
      position: relative;

      &-body {
        margin: 15px 0;
        padding-right: 20px;

        & p {
          color: #555555;
          font-size: 16px;
          line-height: 21.79px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }

      &-otherProducts {
        display: flex;
        gap: 9px;
        margin-bottom: 15px;

        & img {
          width: 34px;
          height: 32px;
        }
      }

      &-identity {
        & h6 {
          color: #0f1d2d;
          line-height: 19.07px;
          font-size: 14px;
          font-weight: 700;
        }

        & p {
          color: #777777;
          font-size: 14px;
          font-weight: 400;
          line-height: 19.07px;
        }
      }
    }

    &__paginate {
      display: flex;
      gap: 5px;

      & span {
        color: #555555;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
      }
    }
  }

  &--recentViews {
    // padding-left: 10px;
    position: relative;
    flex: 1;

    & h5 {
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      line-height: 21.79px;
    }

    &__container {
      margin-top: 15px;
      display: flex;
      gap: 38px;
      flex-wrap: wrap;
    }

    &__card {
      width: 153px;
      flex: auto;

      &--image {
        width: 100%;

        & img {
          width: 100%;
        }
      }

      &-body {
        margin-top: 10px;
        & h5 {
          color: #0f1d2d;
          font-size: 14px;
          line-height: 19.07px;
          font-weight: 600;
        }

        & p {
          color: #333333;
          font-size: 12px;
          line-height: 16.34px;
          font-weight: 400;
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 5px;

          & span {
            font-size: inherit;

            &:not(:first-child) {
              border-left: 1px solid #cfcae6;
              padding-left: 5px;
            }
          }
        }

        & h4 {
          margin-top: 10px;
          color: #19304b;
          font-size: 16px;
          font-weight: 600;
          line-height: 21.79px;
        }
      }

      &-rate {
        display: flex;
        align-items: center;
        column-gap: 4px;
        margin-top: 8px;

        & span {
          color: #777777;
          font-size: 12px;
        }
      }

      &:nth-child(3) {
        margin-top: -15px;
      }
    }
  }
}

.timbu {
  &--order {
    &__complete {
      max-width: 529px;
      margin: auto;
      margin-top: 42px;
      width: 100%;
      margin-bottom: 100px;
    }

    &__confirm {
      text-align: center;

      & h4 {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 700;
        line-height: 43.58px;
        color: $text-color2;
      }

      & p {
        font-size: 16px;
        line-height: 21.79px;
        font-weight: 400;
        color: $text-color3;
      }
    }

    &__details {
      margin-top: 35px;
    }

    &__order,
    &__delivery {
      & h5 {
        font-size: 14px;
        color: $text-color2;
        font-weight: 600;
        line-height: 19.07px;
        margin-bottom: 16px;
      }

      & p {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;

        & span {
          font-size: 14px;
          font-weight: 400;
          color: $grey-color2;
          line-height: 19.07px;

          &.timbu--order__order-ref {
            text-align: left;
          }
        }
      }
    }

    &__delivery {
      & h5 {
        margin-top: 30px;
      }

      &-address {
        max-width: 261px;
        width: 100%;
      }
    }

    &__view {
      margin-top: 35px;
      text-align: center;
      color: #4a90e2;
      font-size: 16px;
      line-height: 21.79px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.wishlist--svg {
  background: url("../assets/icons/wishlist-added-icon.svg");
  height: 20px;
  position: absolute;
  visibility: hidden;
  width: 20px;

  &:nth-of-type(1) {
    top: 20%;
  }

  &:nth-of-type(2) {
    top: 20%;
  }
}

.animated {
  & .wishlist--svg {
    &:nth-of-type(1) {
      animation: float-ahead 2s ease-out 1 forwards;
    }
    &:nth-of-type(2) {
      animation: float-ahead1 2s ease-out 1 forwards;
    }
  }
}

@keyframes float-ahead {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -20px) scale(0.5);
  }
}

@keyframes float-ahead1 {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 20px) scale(0.8);
  }
}
