@import "/src/styles/abstract/variables.scss";

.form {
  &-control {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;

    &-group {
      display: flex;
      gap: 16px;

      @media (max-width: 578px) {
        flex-direction: column;
        gap: 0;
      }
      
    }
  }

  &-field {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &-label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: $text-color1;
    margin-bottom: 5px;
  }

  &-input {
    background: #f0f0f0;
    border-radius: 8px;
    height: 56px;
    border: none;
    color: #777777;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding: 16px;
    width: 100%;

    &::placeholder {
      color: inherit;
      line-height: inherit;
      font-family: inherit;
      font-size: inherit;
    }

    &:focus {
      outline: none;
    }
  }

  &-select {
    background: #f0f0f0;
    border-radius: 8px;
    height: 56px;
    border: none;
    color: #777777;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding: 16px;
    width: 100%;

    appearance: none;
    background-repeat: no-repeat;
    background-image: url("../../assets/icons/chevron-up.png");
    background-position: right 0.7rem top 50%;
    background-size: 24px auto;

    &:focus {
      outline: none;
    }
  }

  &-number {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;

    &-label {
      color: #3e2a9b;
      font-size: 14px;
      line-height: 16px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 3px;
    }

    &-input {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-flagSelect {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 16px;
      gap: 8px;
      background: #f0f0f0;
      border-radius: 8px;

      @media (max-width: 360px) {
        padding: 16px 10px;
      }

      & .form-select {
        padding: 5px;
        width: 80px;
        color: #0F1D2D;
      }
    }

    &__input {
      background: #f0f0f0;
      padding: 16px 80px 16px 16px;
      height: 56px;
      color: #777777;
      font-size: 16px;
      line-height: 24px;
      font-family: "Open Sans", sans-serif;
      flex: 1;
      border-radius: 8px;

      @media (max-width: 578px) {
        padding: 16px;
      }

      & input {
        color: #777777;
        font-size: 16px;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
        flex: 1;
        border-radius: 8px;
        border: none;
        background: inherit;
        width: 100%;

        &::placeholder {
          color: inherit;
          line-height: inherit;
          font-family: inherit;
          font-size: inherit;
        }
    
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.payment--input {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font: inherit;
  width: 18.5px;
  height: 18.5px;
  border: 1.5px solid #000000;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: url("../../assets/icons/radio-checked.png");
    width: 7.12px;
    height: 4.75px;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
  }

  &:checked {
    border: 1.5px solid #039c03;

    &:before {
      transform: scale(0.5);
      margin-left: -5px;
      margin-top: -5px;
    }
  }

  &:focus {
    border: 1.5px solid #039c03;
  }
}

.product--color__radiant {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font: inherit;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:before {
    content: url("../../assets/icons/white-radio-checked.png");
    width: 12.83px;
    height: 6.42px;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
  }

  &:checked {
    &:before {
      transform: scale(0.4);
      margin-left: -6px;
      margin-top: -6px;
    }
  }

  &:focus {
    border: none;
  }

  &.primary {
    background: $main-color;
  }
  &.orange {
    background: #ea580c;
  }
  &.indigo {
    background: #6366f1;
  }
  &.blue-grey {
    background: #334155;
  }
}
